# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Notebook backups and guides
*backup*.ipynb
*guide*.md